# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/Assignment4.iml
/out/
/arrayvisitors/src/BUILD/
/input_1.txt
/input_2.txt
/common_ints_out.txt
/array1_missing_ints_out.txt
/array2_missing_ints_out.txt
/arrayvisitors/common_ints_out.txt
/arrayvisitors/array2_missing_ints_out.txt
/arrayvisitors/array1_missing_ints_out.txt
/debug.txt
/arrayvisitors/debug_log.txt
